# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Build Artifacts
build/
dist/
*.egg-info/
metadata_store_extension.so

# Compiled grpc/protobuf files
*_pb2.py
*_pb2_grpc.py
